<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>userLogin</servlet-name>
        <servlet-class>userLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userHome</servlet-name>
        <servlet-class>userHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>adminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminHome</servlet-name>
        <servlet-class>adminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEmployee</servlet-name>
        <servlet-class>addEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeEmployee</servlet-name>
        <servlet-class>removeEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>killSession</servlet-name>
        <servlet-class>killSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userLogin</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userHome</servlet-name>
        <url-pattern>/userHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminHome</servlet-name>
        <url-pattern>/adminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEmployee</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeEmployee</servlet-name>
        <url-pattern>/removeEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>killSession</servlet-name>
        <url-pattern>/killSession</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
